#signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--navbar-height));
}

#signup-header {
  margin-bottom: 1rem;
  font-size: 2rem;
}

#signup-form {
  width: 90vw;
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
  #signup-form {
    width: 60vw;
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
  #signup-form {
    width: 30vw;
  }
}