#emptyList {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
  margin-bottom: 1rem;
  border: 0.9px solid var(--theme-color-1);
  border-radius: var(--border-radius);
  background-color: var(--transparent-dark);
  font-size: 1.2rem;
  font-weight: 300;
}