#popup {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  > div {
    margin-top: 1rem;
    padding: 0.5rem 0.7rem;
    border: 0.9px solid var(--theme-color-1);
    border-radius: var(--border-radius);
    background-color: var(--popup-color);
    font-weight: 300;
  }
}