#showPoll {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

#showPoll-header {
  margin: 0 2rem 1rem 2rem;
  text-align: center;
}

#showPoll-title {
  font-size: 2rem;
}

#showPoll-chart {
  height: 50vw;
  width: 100vw;
  margin-bottom: 1rem;
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
  #showPoll-chart {
    height: 40vw;
    width: 80vw;
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
  #showPoll-chart {
    height: 30vw;
    width: 60vw;
  }
}