:root {
  /* Colors */
  --theme-color-1: steelblue;
  --theme-color-2: lightcyan;
  --transparent-light: rgba(255, 255, 255, 0.9);
  --transparent-dark: rgba(0, 0, 0, 0.05);
  /* Measurements */
  --navbar-height: 55px;
  --border-radius: 0.5rem;
}

// General button styling
.btn-styling {
  padding: 0.5rem 0.7rem;
  font-weight: 300;
  &:hover {
    font-weight:500;
  }
}