#allUsers {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

#allUsers-header {
  margin-bottom: 1rem;
  font-size: 2rem;
}

#allUsers-list {
  width: 90vw;
}

#allUsers-pagination {
  display: flex;
  border: 0.9px solid var(--theme-color-1);
  border-radius: var(--border-radius);
  > button {
    border: 0;
    background-color: var(--theme-color-1);
    color: white;
  }
  > div {
    padding: 0.5rem 0.7rem;
    font-weight: 300;
  }
}

#allUsers-prev {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

#allUsers-next {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
  #allUsers-list {
    width: 60vw;
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
  #allUsers-list {
    width: 30vw;
  }
}